ul#activList{
	min-width: 250px;
	list-style-type: none;
	
}
ul#activList li{
	min-width: 250px;
	margin: 8px;
	padding: 10px 15px;
}
ul#activList li.activ{
	background: #61ec7f;
	font-weight: bold;
}
ul#activList li.notActiv{
	background: #ffe5e5;
	font-style: italic;
}
